### use # to comment out the configure item

### I/O ###
dataset=conll03
train_dir=conll03/train.txt
dev_dir=conll03//valid.txt
test_dir=conll03/test.txt
model_dir=output/0001
#word_emb_dir=glove.6B.100d.txt
word_emb_dir=../emb/senna_emb_50d.txt

#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=glove.6B.50d-char.txt

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=16

lowercase_tokens=False

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=Adam
iteration=100
batch_size=16
ave_batch_loss=False

###Hyperparameters###
cnn_layer=1
char_hidden_dim=128
hidden_dim=200
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.001
lr_decay=0.05
momentum=0.9
l2=1e-8
gpu=2
clip=5
patience=15

###ELMo###
elmo_options_file=../elmo/elmo_5.5B/elmo_2x4096_512_2048cnn_2xhighway_5.5B_options.json
elmo_weight_file=../elmo/elmo_5.5B/elmo_2x4096_512_2048cnn_2xhighway_5.5B_weights.hdf5
elmo_tune=False
elmo_dropout=0
use_elmo=True
elmo_gamma=0.5


